.botonLogin{
    float:right;
    margin-top: 1%;
    margin-right:1%;
}
h1{
    color:#259434  
}
.Titulo{
    text-align: center;
    color:#259434  
}
.centro{
    text-align: center;
}
.icons {
    font-size:200%;
    text-align: center;
}
